* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Syne", sans-serif;
}

/*NavBar section*/

.nav-bar-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1em;
  background-color: #F55A5A;
  color: #ffffff;
}

.nav-bar-logo{
  width: 1.5em;
}
.nav-bar-title{
  font-size: 1.25rem;
}

/*card section*/

.card-container{
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  color: #2b283a;
  margin: 2em;
  padding: 1em 0;
}
.card-img{
  max-width: 8em;
  border-radius: 5px;
}
.card-info{
  font-size: 0.825rem;
  padding: 1em;
}

.location-info{
  display: flex;
  align-items: center;
}

.location-icon{
  width: 1em;
  margin-right: 0.5em;
}
.destination{
  letter-spacing: .2em;
  margin-right: 1em;
  text-transform: uppercase;
}
.googlemaps-anchor{
  color: #918e9b;
}
.country{
  font-size: 1.6rem;
}
.date{
  font-weight: bold;
}
.destination-descr{
  line-height: 150%;
}
